<!DOCTYPE html>
  <html>
   <head> 
    <title>{{ page.title }}</title> 
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/1tutorial/css/main.css">
   </head> 
   <body>
    <nav>
      <ul>
        <li><a href="/1tutorial/">Home</a></li>
        <li><a href="/1tutorial/about">About</a></li>
        <li><a href="/1tutorial/cv">CV</a></li>
        <li><a href="/1tutorial/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}
      
    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:bobesponja@gmail.com">email</a></li>
        <li><a href="https://github.com/dsigno">github.com/hankquinlan</a></li>
      </ul>
    </footer> 
   </body> 
  </html>
